<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes Posts {{posts.length}}</h2>
      <ul class="list-group">
        <app-post-item *ngFor="let post of posts" [monPost]="post"></app-post-item>

      </ul>
      <button class="btn btn-success mr-3">J'aime tous
        <i class="fas fa-thumbs-up"></i>
      </button>
      <button class="btn btn-danger mr-3">Je n'aime pas tous
        <i class="fas fa-thumbs-down"></i>
      </button>

    </div>
  </div>
</div>
